.font-text {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1199px) {

  .footer-dark {
    text-align: center;
  }

  .media-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.footer-dark {
  font-family: 'Open Sans', sans-serif;
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #7697b6;
}

.footer-dark h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 17px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
  color: black;
}




